


<p>
  <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
    {{text}} 
  <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
  <footer style="text-align:right"><small>–{{name}}</small></footer> 
</p>

    					  
               



