


<p>
  <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
  Remember no one can make you feel inferior without your consent. 
  <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
  <footer style="text-align:right"><small>–Eleanor Roosevelt</small></footer> 
</p>

    					  
               



