<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Courgette|Lato|Cabin" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  </head>
  <body>

    {{{body}}}
  <script src = "javascripts/jquery.min.js"></script>
  <script src = "javascripts/materialize.min.js"></script>
  <script src = "javascripts/main.js"></script>
  
  </body>
</html>
